@media(max-width: 1440px){
  .header-bottom__inner{
    padding: 130px 160px 130px 160px;
  }
}

@media(max-width: 1260px){
  .header-top__menu-item {
    margin-left: 80px;
  }
  
  .drinks__item{
    width: 250px;
  }
  .drinks__item-price{
    padding: 15px 60px;
  }
}

@media(max-width: 1180px){
  
}

@media(max-width: 1100px){
  .header-top__menu-item {
    margin-left: 50px;
  }
  .header-bottom__title{
    font-size: 60px;
    line-height: 75px;
  }
  .header-bottom__inner{
    max-width: 790px;
  }
  .drinks__item{
    width: 220px;
  }
  .drinks__item-price{
    padding: 15px 30px;
  }
  .section-top{
    display: block;
    margin-bottom: 0px;
    &__title{
      font-size: 36px;
      line-height: 56px;
    }
    &__logo{
      transform: translateY(-40px);
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@media(max-width: 992px){
  .header-bottom__inner{
    padding: 100px 100px 100px 100px;
    max-width: 700px;
  }
  .header-top__menu-item {
    margin-left: 30px;
  }
  .drinks__item + .drinks__item{
    margin-left: 10px;
  }
  .drinks__item:nth-child(5){
    margin-left: 0;
  }
  .drinks__items{
    justify-content: space-around;
  }
}

@media(max-width: 880px){
  .header-top__logo{
    background-image: url('../images/logo-tablet.svg');
    width: 165px;
    height: 40px;
    transform: translateY(-10px);
  }
}



@media(max-width: 768px){
  body{
    font-size: 18px;
  }
  .container{
    max-width: 678px;
    padding: 0 5px;
  }
  ul.header-top__menu{
  }
  .header-top__menu-item{
    margin-left: 47px;
  }
  .header-bottom{
    &__img{
      height: 585px;
    }
    &__inner{
      padding: 80px 117px;
      max-width: 445px;
      transform: translateY(-85%);
    }
    &__title{
      font-size: 48px;
      line-height: 75px;
      padding: 0 20px;
    }
  }
  
  
  .drinks{
    padding: 20px 0 50px;
    &__items{
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-around;
    }
    &__item{
      width: 215px;
      margin-bottom: 20px;
      margin-left: 0 !important;
      // &:last-child{
      //   margin-left: 13px !important;
      //   margin-right: auto;
      // }
      
    }
    &__item-price{
      padding: 10px 50px;
    }
    &__item-img{
      height: 220px;
    }
  }

  .sandwich{
    padding: 20px 0 50px;
    &__items{
      flex-wrap: wrap;
      justify-content: start;
    }
    &__item{
      max-width: 330px;
    }
    &__item-img{
      width: 330px;
      height: 200px;
    }
    &__item--left{
      margin-left: 0 !important;
    }
    &__item--bottom{
      margin-top: 0;
    }
    &__item-price{
      font-size: 18px;
    }
  }
  .sandwich__item + .sandwich__item{
    margin-left: auto;
  }

  .bakery{
    padding: 20px 0 30px;
    &__item-img{
      width: 230px;
      height: 220px;
    }
  }

  .busqits{
    &__items{
      margin-bottom: 0;
      justify-content: space-between;
    }
    &__item{
      max-width: 213px;
    }
    // &__item + .busqits__item{
    //   margin-left: 20px;
    // }
  }

  .cake{
    &__items{
      flex-wrap: wrap;
    }
    &__item{
      max-width: 213px;
    }
    &__item-img{
      width: 230px;
      height: 220px;
    }
  }
  .nuts{
    padding: 20px 0 50px;
    &__inner-img{
      width: 485px;
      height: 485px;
    }
    &__inner-descr{
      font-family: "ElMessiri-SemiBold", sans-serif;
      font-weight: 600;
      max-width: 280px;
      padding: 145px 5px;
      font-size: 24px;
      line-height: 150%;
    }
  }
  
  .contacts{
    &__connection{
      margin: 0 auto;
    }
    &__links{
      margin: 0 auto;
      padding-top: 10px;
    }
  }

  .footer{
    &__logo{
      background-image: url('../images/logo-tablet-footer.svg');
      width: 206px;
      height: 50px;
    }
    &__text{
      font-size: 14px;
      line-height: 22px;
    }
  }
}

@media(max-width: 690px){
  .header-top{
    &__menu-item{
      margin-left: 20px;
    }
  }
  .drinks{
    &__item{
      width: 180px;
    }
    &__item-price{
      padding: 5px 25px;
    }
  }
}

@media(max-width: 570px){
  .drinks{
    &__item{
      width: 140px;
    }
    &__item-img{
      height: 180px;
    }
  }
}

@media(max-width: 460px){
  .drinks{
    &__item{
      width: 120px;
    }
    &__item-price{
      padding: 5px 15px;
    }
  }
}

@media(max-width: 320px){
  .header{
    background-image: url('../images/header-bg-phone.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container{
    width: 270px;
  }
  ul.header-top__menu{
    display: none;
  }
  .header-top__logo{
    background-image: url('../images/logo-mobile.svg');
    width: 270px;
    height: 44px;
  }
  .header-bottom__img{
    display: none;
  }
  .header-bottom__inner{
    margin: 160px 0 222px;
    transform: translateY(0);
    padding: 35px 50px;
  }
  .header-bottom__title{
    font-size: 24px;
    line-height: 38px;
    padding: 20px 3px;
  }
  .menu-btn{
    display: block;
    width: 22px;
    height: 12px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -20px;
    &__inner{
      background-color: #000;
      width: 22px;
      height: 2px;
    }
  }
}