@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header{
  padding: 40px 0;
  &__title-box{
    display: none;
  }
}

.header-top__logo{
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 410px;
  height: 70px;
}

ul.header-top__menu{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  font-size: 18px;
  line-height: 28px;
  transform: translateY(-25px);
}

.header-top__menu-item{
  margin-left: 122px;
}

.header-top__menu-link{
  color: inherit;
}

.header-top__menu-btn{
  display: none;
}

.header-top__menu-aside{
  transform: translateY(-300%);
}

.header-bottom{
  &__img{
    width: 1215px;
    height: 323px;
    object-fit: cover;
    
  }
  &__inner{
    padding: 200px 160px 220px 160px;
    background-color: #EBDCB2;
    max-width: 905px;
    margin: 0 auto;
    transform: translateY(-50px);
  }
  &__title{
    font-size: 80px;
    line-height: 125px;
    font-weight: 400;
    padding: 45px 35px;
    text-align: center;
    position: relative;
    &::after,
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      left: 0;
      
      background-color: $accent;
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
  }
}

.drinks{
  padding: 40px 0 30px;
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap: 20px;
    // grid-row-gap: 40px;
  }
  &__item{
    width: 290px;
    margin-bottom: 40px;
  }
  &__item-img{
    width: 290px;
    height: 300px;
    object-fit: cover;
  }
  &__item-price{
    text-align: center;
    padding: 15px 100px;
  }
  &__item-price--flat{
    padding: 15px 85px;
  }
}

.sandwich{
  padding: 40px 0 220px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item-img{
    width: 290px;
    height: 300px;
    object-fit: cover;
  }
  &__item{
    text-align: center;
    max-width: 290px;
  }
  &__item--bottom{
    margin-top: 300px;
  }
  &__item-price{
    padding: 15px 65px;
  }
  &__item-price--long{
    padding: 15px 30px;
  }
}

.sandwich__item + .sandwich__item{
  margin-left: 20px;
}

.bakery{
  padding: 40px 0 110px;
  &__item-img{
    width: 290px;
    height: 300px;
    object-fit: cover;
  }
  &__item-price{
    padding: 15px 35px;
  }
}

.busqits{
  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__item{
    text-align: center;
    max-width: 290px;
  }
  &__item + .busqits__item{
    margin-left: 20px;
  }
}


.cake{
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    text-align: center;
    max-width: 290px;
  }
  &__item-img{
    object-fit: cover;
  }
}

.nuts{
  padding: 40px 0 85px;
  &__inner-img{
    width: 800px;
    height: 800px;
    object-fit: cover;
  }
  &__inner{
  display: flex;
  justify-content: space-between;
  }
  &__inner-descr{
    max-width: 385px;
    padding: 145px 10px;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
  }
  &__inner-price{
    max-width: 236px;
    display: block;
    text-align: center;
    margin: 10px auto 0;
  }
}

.contacts{
  padding: 40px 0 120px;
  font-size: 30px;
  line-height: 47px;
  @extend %messiri-400;
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__connection{
    background-image: url('../images/contact-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 86px 65px 126px;
    text-align: center;
    height: 587px;
  }
  &__connection-title{
    margin-bottom: 34px;
    max-width: 395px;
  }
  &__connection-number{
    margin-bottom: 77px;
    max-width: 395px;
  }
  &__connection-address{
    max-width: 395px;
  }
  &__connection-phone{
    color: inherit;
  }
  &__links{
    padding: 130px 134px 0 150px;
  }
  &__links-title{
    margin-bottom: 35px;
    @extend %messiri-600;
  }
  &__links-social{
    display: block;
    padding-left: 95px;
    position: relative;
    color: inherit;
    margin-bottom: 43px;
    &::before{
      position: absolute;
      content: "";
      left: 0;
      top: -10px;
      bottom: 0;
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__links-social--instagram::before{
    background-image: url('../images/instagram.svg');
  }
  &__links-social--facebook::before{
    background-image: url('../images/facebook.svg');
  }
}

.footer{
  background-color: #AF4425;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0 60px;
  }
  &__logo{
    background-image: url('../images/logo.svg');
    width: 405px;
    height: 73px;
  }
  &__text{
    transform: translateY(10px);
  }
}


#toTop {
  width:70px;
  height: 70px;
  background-image: url('../images/top-btn.png');
  background-size: cover;
  background-repeat: no-repeat;background-position: center center;
  position:fixed;
  bottom:10px; /* отступ кнопки от нижнего края страницы*/
  right:10px;
  cursor:pointer;
  display:none;
  z-index: 999;
  }






@import 'media';